{% load static %}

<!DOCTYPE html>
<html lang="it">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
Split Expenses
</title>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">


<link rel="stylesheet" href="{% static 'expenses/css/style.css' %}">


<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">


</head>


<body>


<div class="layout">


<!-- SIDEBAR -->

<aside class="sidebar">


<h2 class="logo">
💸 Split
</h2>



<ul>


<li>
<a href="{% url 'dashboard' %}">
<i class="bi bi-house"></i>
Dashboard
</a>
</li>


<li>
<a href="{% url 'users' %}">
<i class="bi bi-people"></i>
Utenti
</a>
</li>


<li>
<a href="{% url 'expenses' %}">
<i class="bi bi-receipt"></i>
Spese
</a>
</li>


<li>
<a href="#">
<i class="bi bi-graph-up"></i>
Statistiche
</a>
</li>


</ul>



</aside>




<!-- CONTENUTO -->


<main class="content">


{% if messages %}

    {% for message in messages %}

        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>

    {% endfor %}

{% endif %}



{% block content %}

{% endblock %}


</main>



</div>



</body>


</html>