body{

font-family:'Segoe UI', sans-serif;

background:#f8f9fa;

}


.layout{

display:flex;

min-height:100vh;

}



/* SIDEBAR */


.sidebar{

width:250px;

background:linear-gradient(
180deg,
#833ab4,
#fd1d1d,
#fcb045
);

color:white;

padding:30px;

}


.logo{

font-size:30px;

font-weight:700;

margin-bottom:40px;

}



.sidebar ul{

list-style:none;

padding:0;

}



.sidebar li{

margin:20px 0;

}



.sidebar a{

color:white;

text-decoration:none;

font-size:18px;

display:flex;

gap:15px;

align-items:center;

}



.sidebar a:hover{

opacity:.8;

}



/* CONTENUTO */


.content{

flex:1;

padding:40px;

}